---

---
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta
			name="keywords"
			content="software, alosistemas, peru, hacking, odoo, app movil, it, tecnologia, web, mobile app, sap, software, ciberseguridad, ALOSISTEMAS"
		/>
		<meta
			name="description"
			content="ALOSISTEMAS - IT; Empresa de tecnologia, software, alosistemas, peru, hacking, odoo, app movil, it, tecnologia, web, mobile app, sap, software, ciberseguridad, ALOSISTEMASy"
		/>
		<title>ALOSISTEMAS</title>
		<meta property="og:site_name" content="ALOSISTEMAS" />
		<meta property="og:url" content="" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="ALOSISTEMAS" />
		<meta name="og:image" content=`https://alosistemas.com/images/ogg.png` />
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#3b82f6" />
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#00040B" />
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#00040B" />
		<!-- Favicon -->
		<link
			href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- <link rel="manifest" href="site.webmanifest" /> -->
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href=`https://alosistemas.com/image/favicon.ico`
		/>
		<!-- Place favicon.ico in the root directory -->
		<script
			src="https://kit.fontawesome.com/499bc4659f.js"
			crossorigin="anonymous"></script>
		<!-- CSS here -->
		<link rel="stylesheet" href=`https://alosistemas.com/css/bootstrap.min.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/animate.min.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/font-css.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/swiper-bundle.min.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/slick.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/nice-select.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/magnific-popup.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/metisMenu.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/aos.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/spacing.css` />
		<link rel="stylesheet" href=`https://alosistemas.com/css/main.css` />
	</head>

	<body
		data-aos-easing="ease"
		data-aos-duration="1200"
		data-aos-delay="0"
		style="overflow: visible;"
	>
		<!-- main-page-wrapper start -->
		<div class="main-page-wrapper">
			<!--[if lte IE 9]> <p class="browserupgrade"> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security. </p> <![endif]-->

			<!-- Add your site or application content here -->
			<!-- preloader -->

			<div id="preloader" style="display: none;">
				<div class="preloader">
					<span></span>
					<span></span>
				</div>
			</div>
			<!-- preloader end  -->

			<!-- offcanvas start  -->
			<div
				class="offcanvas offcanvas-top theme-bg"
				tabindex="-1"
				id="offcanvasTop"
			>
				<div class="offcanvas-header">
					<a data-bs-dismiss="offcanvas" aria-label="Close">
						<i class="fas fa-times search-close" id="search-close"
						></i>
					</a>
				</div>
				<div class="offcanvas-body">
					<!-- Fullscreen search -->
					<div class="search-wrap">
						<form method="get">
							<input
								type="search"
								class="main-search-input"
								placeholder="Search Your Keyword..."
							/>
						</form>
					</div>
					<!-- end fullscreen search -->
				</div>
			</div>
			<!-- offcanvas end  -->

			<!-- slide-bar start -->
			<aside class="slide-bar">
				<div class="close-mobile-menu">
					<a href="javascript:void(0);">
						<i class="fas fa-times"></i>
					</a>
				</div>
				<!-- offset-sidebar start -->
				<div class="offset-sidebar">
					<div class="offset-widget offset-logo mb-30">
						<a href="index.html">
							<img src=`https://alosistemas.com/image/alosistemaslogo2.png` alt="logo" />
						</a>
					</div>

					<div class="offset-widget mb-40">
						<div class="info-widget">
							<h4 class="offset-title mb-20">Quienes Somos</h4>
							<p class="mb-30">
								Somos una empresa especializada en brindar
								soluciones tecnológicas integrales. Combinamos
								innovación, experiencia y compromiso para ayudar
								a las organizaciones a digitalizar sus procesos,
								fortalecer su seguridad y crecer de forma
								inteligente en un entorno cada vez más
								conectado.
							</p>
						</div>
					</div>
					</div>
					<!-- <div class="login-btn text-center">
					<a class="ht_btn w-100" href="login.html">Login</a>
				</div> -->
				</div>
				<!-- offset-sidebar end -->
			</aside>
			<div class="body-overlay"></div>
			<!-- slide-bar end -->

			<!-- theme main manu start-->
			<header
				class="theme-main-menu theme-menu-one pt-10 pb-10 position-relative"
			>
				<div class="main-header-area">
					<div class="container-fluid">
						<div class="row align-items-center">
							<div
								class="col-xxl-2 col-xl-2 d-none d-xl-inline-block"
							>
								<div class="logo-area">
									<a class="front" href="index.html"
										><img
											src=`https://alosistemas.com/image/alosistemaslogo2.png`
											alt="Header-logo"
										/></a
									>
								</div>
							</div>
							<div class="col-xxl-5 col-xl-6 col-6 d-flex align-items-center">
								<div class="logo-area d-xl-none d-md-inline-block">
									<a class="front" href="index.html">
										<img src=`https://alosistemas.com/image/alosistemaslogo2.png` alt="Header-logo" />
									</a>
								</div>
								<div class="main-menu d-none d-xl-block">
									<div class="mean-push"></div>
									<nav
										id="mobile-menu"
										style="display: none;"
									>
										<ul class="menu-list ps-0">
											<li>
												<a href="#"> Inicio </a>
												<ul class="sub-menu"></ul>
											</li>
											<li>
												<a href=`https://alosistemas.com/nosotros.html`>Nosotros</a
												>
											</li>
											<li>
												<a href=`https://alosistemas.com/servicios.html`
													>Servicios</a
												>
												<ul class="sub-menu"></ul>
											</li>
											<li>
												<a href=`https://alosistemas.com/proyectos.html`
													>Proyectos</a
												>
												<ul class="sub-menu"></ul>
											</li>
											<li>
												<a
													href="https://alokits-landing.vercel.app/"
													>ALOKITS</a
												>
												<ul class="sub-menu"></ul>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<div
								class="col-xxl-5 col-xl-4 col-6 d-flex align-items-center justify-content-end"
							>
								<div
									class="right-nav d-flex align-items-center justify-content-end"
								>
									<div class="d-none d-xxl-inline-block">
										<div
											class="contact__info d-flex align-items-center"
										>
											<div class="icon">
												<img
													src=`https://alosistemas.com/image/header__icon__01.png`
													alt=""
													class=""
												/>
											</div>
											<div class="info">
												<p>¡Llame ahora!</p>
												<span>+51 970 070 369</span>
											</div>
										</div>
									</div>
									<div
										class="quote__btn d-none d-xl-inline-block"
									>
										<a href=`https://alosistemas.com/contacto.html` class="ht_btn">
											<span
												>P&oacute;ngase en Contacto</span
											>
										</a>
									</div>
									<div class="hamburger-menu d-xl-none">
										<a
											class="round-menu"
											href="javascript:void(0);"
										>
											<i class="fas fa-bars"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- theme main manu end-->

			<main>
				<!-- theme__main__banner start -->
				<section class="theme__main__banner position-relative">
					<div style="position: relative; z-index: 2;">
						<div
							class="swiper hero__slider__one aos-init aos-animate"
							data-aos="fade-up"
						>
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="main__banner__bg">
										<div
											class="container-fluid position-relative"
										>
											<div class="container">
												<div
													class="row align-items-center pt-60 pb-25"
												>
													<div
														class="col-xl-6 pb-lg-40"
													>
														<div
															class="theme__content text-xl-start text-lg-center"
														>
															<h1
																class="banner__main__title mb-45"
															>
																Te ayudamos a
																escalar con
																inform&aacute;tica
																y
																tecnolog&iacute;a
															</h1>
															<div class="row">
																<div
																	class="col-xxl-12"
																>
																	<p
																		class="banner__description mb-45"
																	>
																		Potenciamos
																		la
																		transformación
																		digital
																		de tu
																		empresa
																		a través
																		de
																		soluciones
																		innovadoras,
																		eficientes
																		y
																		seguras.
																		Conectamos
																		estrategia,
																		tecnología
																		y
																		experiencia
																		para que
																		tu
																		negocio
																		alcance
																		su
																		máximo
																		potencial.
																	</p>
																</div>
															</div>
															<div
																class="banner__button d-lg-flex align-items-center mb-45"
															>
																<a
																	href=`https://alosistemas.com/contacto.html`
																	class="ht_btn mb-md-30"
																>
																	<span
																		>Descubrir
																		más</span
																	>
																</a>
																<a
																	href="https://www.tiktok.com/@alo.sistemas?_t=ZM-8wK97lrCGtZ&_r=1"
																	class="popup-video"
																>
																	<img
																		src=`https://alosistemas.com/image/play__01.png`
																		alt="icon"
																	/>
																</a>
															</div>
															<div
																class="user__review d-lg-flex align-items-center"
															>
																<img
																	src=`https://alosistemas.com/image/mm.jpeg`
																	alt=""
																	class="rounded-circle"
																/>
																<img
																	src=`https://alosistemas.com/image/reaprende.png`
																	alt=""
																	class="rounded-circle"
																/>
																<img
																	src=`https://alosistemas.com/image/ciber.jpg`
																	alt=""
																	class="rounded-circle"
																/>
																<div
																	class="review__text"
																>
																	<h4
																		class="mb-20"
																	>
																		<span
																			class="counter"
																			>5.0</span
																		>k+
																	</h4>
																	<h5>
																		A las
																		opiniones
																		de los
																		clientes
																	</h5>
																</div>
															</div>
														</div>
													</div>
													<div class="col-xl-6">
														<div
															class="hero__img position-relative"
														>
															<img
																src=""
																alt=""
															/>
															<div
																class="shapes developer__list d-lg-flex align-items-center"
															>
																<div
																	class="employer__list"
																>
																	<h4>
																		<span
																			class="counter"
																			>100</span
																		>+
																	</h4>
																	<h5>
																		Proyectos
																	</h5>
																</div>
																<div
																	class="worker__list"
																>
																	<h4>
																		<span
																			class="counter"
																			>10</span
																		>+
																	</h4>
																	<h5>
																		Desarrolladores
																	</h5>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- theme__main__banner end -->

					<!-- offer__section start -->
					<section
						class="offer__section pb-100 pb-lg-40 pt-120 pt-lg-40"
					>
						<div
							class="offer__bg__wrapper aos-init"
							data-aos="fade-up"
						>
							<div class="container">
								<div class="section__title mb-60">
									<div class="text-start text-lg-center">
										<h5 class="section__sub__title">
											NUESTRA SOLUCIÓN
										</h5>
										<div class="row">
											<div
												class="col-xl-7 col-lg-8 m-auto"
											>
												<h2
													class="section__title__main"
												>
													Ofrecemos la mejor solución
													informática
												</h2>
											</div>
										</div>
									</div>
								</div>
								<div class="row align-items-center">
									<div class="col-xxl-4 col-xl-6 col-lg-6">
										<div class="single__offer__box">
											<div class="icon mb-30">
												<img
													class="icon-front"
													src=`https://alosistemas.com/image/offer__icon__02.svg`
													alt="icon"
												/>
											</div>
											<div class="offer__name">
												<h4 class="offer__title mb-20">
													<a href=`https://alosistemas.com/servicios.html`
														>Implementaci&oacute;n
														de ERP</a
													>
												</h4>
												<p class="mb-30">
													Optimice sus procesos
													empresariales con soluciones
													ERP adaptadas a su negocio.
												</p>
													<a href={`https://alosistemas.com/servicios.html`} class="ht_btn">
													<span>Explorar</span><i class="fa-solid fa-chevron-right"></i>
													</a>
											</div>
										</div>
									</div>
									<div class="col-xxl-4 col-xl-6 col-lg-6">
										<div class="single__offer__box">
											<div class="icon mb-30">
												<img
													class="icon-front"
													src=`https://alosistemas.com/image/code-square.png`
													alt="icon"
												/>
											</div>
											<div class="offer__name">
												<h4 class="offer__title mb-20">
													<a href=`https://alosistemas.com/software.html`
														>Desarrollo de Software</a
													>
												</h4>
												<p class="mb-30">
													Creamos soluciones
													tecnológicas personalizadas
													para impulsar su negocio.
												</p>
												<a
													href=`https://alosistemas.com/software.html`
													class="ht_btn"
												>
													<span>Explorar</span><i
														class="fa-solid fa-chevron-right"
													></i>
												</a>
											</div>
										</div>
									</div>
									<div class="col-xxl-4 col-xl-6 col-lg-6">
										<div class="single__offer__box">
											<div class="icon mb-30">
												<img
													class="icon-front"
													src=`https://alosistemas.com/image/offer__icon__03.png`
													alt="icon"
												/>
											</div>
											<div class="offer__name">
												<h4 class="offer__title mb-20">
													<a href=`https://alosistemas.com/cibersegurida.html`
														>Hacking Ético y
														Ciberseguridad</a
													>
												</h4>
												<p class="mb-30">
													Proteja su infraestructura
													digital con nuestros
													servicios de seguridad.
												</p>
												<a
													href=`https://alosistemas.com/cibersegurida.html`
													class="ht_btn"
												>
													<span>Explorar</span><i
														class="fa-solid fa-chevron-right"
													></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<img
							src=`https://alosistemas.com/image/offer_bg__01.png`
							alt=""
							class="shapes offer_bg__01"
						/>
						<img
							src=`https://alosistemas.com/image/offer_bg__02.png`
							alt=""
							class="shapes offer_bg__02"
						/>
					</section>
					<!-- offer__section end -->

					<!-- ai_services__section start -->
					<section class="ai__services__section position-relative pb-100 pb-lg-40 pt-80 pt-lg-40">
						<div class="container aos-init" data-aos="fade-up">
							<div class="section__title mb-60">
								<div class="text-start text-lg-center">
									<h5 class="section__sub__title">
										SERVICIOS DE INTELIGENCIA ARTIFICIAL
									</h5>
									<div class="row">
										<div class="col-xl-7 col-lg-8 m-auto">
											<h2 class="section__title__main">
												Impulsamos tu negocio con IA y capacitación
											</h2>
										</div>
									</div>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-xxl-4 col-xl-6 col-lg-6">
									<div class="single__offer__box service-box-clickable" data-service="talleres-ia">
										<div class="icon mb-30">
											<img
												class="icon-front"
												src=`https://alosistemas.com/image/offer__icon__02.svg`
												alt="icon"
												style="max-width: 50px; height: auto;"
											/>
										</div>
										<div class="offer__name">
											<h4 class="offer__title mb-20">
												<a href="javascript:void(0);">
													Talleres de IA
												</a>
											</h4>
											<p class="mb-30">
												Aprende a implementar soluciones de inteligencia artificial en tu empresa con talleres prácticos y personalizados.
											</p>
											<a href="javascript:void(0);" class="ht_btn">
												<span>Explorar</span><i class="fa-solid fa-chevron-right"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="col-xxl-4 col-xl-6 col-lg-6">
									<div class="single__offer__box service-box-clickable" data-service="capacitaciones">
										<div class="icon mb-30">
											<img
												class="icon-front"
												src=`https://alosistemas.com/image/code-square.png`
												alt="icon"
												style="max-width: 50px; height: auto;"
											/>
										</div>
										<div class="offer__name">
											<h4 class="offer__title mb-20">
												<a href="javascript:void(0);">
													Capacitaciones Empresariales
												</a>
											</h4>
											<p class="mb-30">
												Formamos a tu equipo en las últimas tecnologías y metodologías para maximizar el rendimiento y la productividad.
											</p>
											<a href="javascript:void(0);" class="ht_btn">
												<span>Explorar</span><i class="fa-solid fa-chevron-right"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="col-xxl-4 col-xl-6 col-lg-6">
									<div class="single__offer__box service-box-clickable" data-service="consultoria-ia">
										<div class="icon mb-30">
											<img
												class="icon-front"
												src=`https://alosistemas.com/image/offer__icon__03.png`
												alt="icon"
												style="max-width: 50px; height: auto;"
											/>
										</div>
										<div class="offer__name">
											<h4 class="offer__title mb-20">
												<a href="javascript:void(0);">
													Consultoría en IA
												</a>
											</h4>
											<p class="mb-30">
												Diseñamos estrategias personalizadas de IA para optimizar procesos y generar valor en tu organización.
											</p>
											<a href="javascript:void(0);" class="ht_btn">
												<span>Explorar</span><i class="fa-solid fa-chevron-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<img
							src=`https://alosistemas.com/image/offer_bg__01.png`
							alt=""
							class="shapes offer_bg__01"
						/>
						<img
							src=`https://alosistemas.com/image/offer_bg__02.png`
							alt=""
							class="shapes offer_bg__02"
						/>
					</section>
					<!-- ai_services__section end -->

					<!-- bootcamp__section start -->
					<section class="bootcamp__section position-relative pb-100 pb-lg-40 pt-80 pt-lg-40" style="background: linear-gradient(135deg, #3b82f6 0%, #60a5fa 100%);">
						<div class="container aos-init" data-aos="fade-up">
							<div class="row align-items-center">
								<div class="col-xl-6 mb-lg-30">
									<div class="bootcamp__content" style="color: white;">
										<div class="bootcamp__badge mb-20" style="display: inline-block; background: rgba(255,255,255,0.2); padding: 8px 20px; border-radius: 25px; font-size: 14px; font-weight: 600; text-transform: uppercase; letter-spacing: 1px;">
											30 Horas Online - Inicio Enero 2025
										</div>
										<h2 class="section__title__main mb-30" style="color: white; font-size: 48px; line-height: 1.2;">
											Bootcamp de Programación
										</h2>
										<p class="mb-30" style="color: rgba(255,255,255,0.95); font-size: 18px; line-height: 1.8;">
											Aprende Python, Java o JavaScript desde cero. Bootcamp intensivo para adultos (+25 años). No importa tu background actual, te formamos en las tecnologías que las empresas buscan.
										</p>
										<ul style="list-style: none; padding: 0; margin-bottom: 40px;">
											<li style="margin-bottom: 15px; display: flex; align-items: center;">
												<i class="fa-solid fa-check-circle" style="color: #FFD700; margin-right: 12px; font-size: 20px;"></i>
												<span style="color: white; font-size: 16px;">Tres especialidades: JavaScript, Python, Java</span>
											</li>
											<li style="margin-bottom: 15px; display: flex; align-items: center;">
												<i class="fa-solid fa-check-circle" style="color: #FFD700; margin-right: 12px; font-size: 20px;"></i>
												<span style="color: white; font-size: 16px;">Herramientas IA: Claude Code, Cursor, GitHub Copilot</span>
											</li>
											<li style="margin-bottom: 15px; display: flex; align-items: center;">
												<i class="fa-solid fa-check-circle" style="color: #FFD700; margin-right: 12px; font-size: 20px;"></i>
												<span style="color: white; font-size: 16px;">Instructor con +15 años de experiencia</span>
											</li>
											<li style="display: flex; align-items: center;">
												<i class="fa-solid fa-check-circle" style="color: #FFD700; margin-right: 12px; font-size: 20px;"></i>
												<span style="color: white; font-size: 16px;">100% Online - Horarios flexibles</span>
											</li>
										</ul>
										<a
											href="/bootcamp"
											class="ht_btn"
											style="background: white; color: #3b82f6; padding: 18px 40px; font-weight: 600; font-size: 18px; border-radius: 10px; display: inline-block; text-decoration: none; transition: transform 0.3s;"
											onmouseover="this.style.transform='translateY(-3px)'"
											onmouseout="this.style.transform='translateY(0)'"
										>
											<span>Ver Información Completa</span>
											<i class="fa-solid fa-arrow-right" style="margin-left: 10px;"></i>
										</a>
									</div>
								</div>
								<div class="col-xl-6">
									<div style="background: rgba(255,255,255,0.1); padding: 50px; border-radius: 20px; backdrop-filter: blur(10px); border: 2px solid rgba(255,255,255,0.2);">
										<div class="text-center mb-40">
											<div style="width: 80px; height: 80px; background: white; border-radius: 50%; display: flex; align-items: center; justify-content: center; margin: 0 auto 20px;">
												<i class="fa-solid fa-graduation-cap" style="color: #3b82f6; font-size: 40px;"></i>
											</div>
											<h3 style="color: white; font-size: 32px; margin-bottom: 15px;">Cupos Limitados</h3>
											<p style="color: rgba(255,255,255,0.9); font-size: 18px;">¡Asegura tu lugar ahora!</p>
										</div>
										<div style="background: rgba(255,255,255,0.15); padding: 30px; border-radius: 15px; margin-bottom: 30px;">
											<div class="row text-center">
												<div class="col-6 mb-20">
													<h4 style="color: white; font-size: 36px; font-weight: 700; margin-bottom: 5px;">30h</h4>
													<p style="color: rgba(255,255,255,0.9); font-size: 14px;">Intensivas</p>
												</div>
												<div class="col-6 mb-20">
													<h4 style="color: white; font-size: 36px; font-weight: 700; margin-bottom: 5px;">3</h4>
													<p style="color: rgba(255,255,255,0.9); font-size: 14px;">Especialidades</p>
												</div>
											</div>
										</div>
										<div style="background: rgba(255,255,255,0.95); padding: 25px; border-radius: 15px; text-align: center;">
											<p style="color: #666; margin-bottom: 10px; font-size: 16px;">Precio Especial</p>
											<div style="display: flex; align-items: baseline; justify-content: center; margin-bottom: 15px;">
												<span style="color: #999; font-size: 20px; text-decoration: line-through; margin-right: 10px;">S/ 699</span>
												<span style="color: #3b82f6; font-size: 42px; font-weight: 700;">S/ 600</span>
											</div>
											<p style="color: #666; font-size: 14px; margin-bottom: 20px;">O en 2 cuotas de S/ 350</p>
											<a
												href="/bootcamp#inscripcion"
												class="ht_btn w-100"
												style="background: linear-gradient(135deg, #3b82f6 0%, #60a5fa 100%); border: none; padding: 16px; border-radius: 10px; color: white; font-size: 16px; font-weight: 600; display: inline-block; text-decoration: none; transition: transform 0.3s;"
												onmouseover="this.style.transform='translateY(-2px)'"
												onmouseout="this.style.transform='translateY(0)'"
											>
												<span>Inscribirme Ahora</span>
												<i class="fa-solid fa-paper-plane" style="margin-left: 8px;"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<img
							src=`https://alosistemas.com/image/offer_bg__01.png`
							alt=""
							class="shapes offer_bg__01"
							style="opacity: 0.1;"
						/>
						<img
							src=`https://alosistemas.com/image/offer_bg__02.png`
							alt=""
							class="shapes offer_bg__02"
							style="opacity: 0.1;"
						/>
					</section>
					<!-- bootcamp__section end -->

					<!-- choose__section start-->
					<section
						class="choose__section position-relative pb-60 pb-lg-40"
					>
						<div class="container-fluid">
							<div
								class="row d-flex align-items-center aos-init"
								data-aos="fade-up"
							>
								<div class="offset-xl-1 col-xl-5">
									<div
										class="choose__img__wrapper position-relative mb-30"
									>
										<img
											class="choose__main__1"
											src=`https://alosistemas.com/image/Captura de pantalla 2025-05-09 a las 7.42.10 p. m..png`
											alt="about"
										/>
									</div>
								</div>
								<div class="col-xl-6 ps-xl-0">
									<div class="container">
										<div class="row">
											<div class="col-xxl-8">
												<div
													class="choose__content__wrapper mb-80"
												>
													<div class="section__title">
														<div class="text-start">
															<h5
																class="section__sub__title"
															>
																SOBRE
																ALOSISTEMAS
															</h5>
															<h2
																class="section__title__main mb-30"
															>
																Tu Fuente de
																Soluciones de TI
																de Alta Calidad
															</h2>
															<p
																class="section__description mb-30 opacity-8"
															>
																En ALOSISTEMAS
																ofrecemos
																soluciones
																tecnológicas
																innovadoras que
																transforman la
																manera en que
																las empresas
																operan y se
																conectan con el
																mundo digital.
															</p>
														</div>
													</div>
													<ul class="mb-30">
														<li>
															<div
																class="choose__type mb-25 d-flex align-items-center"
															>
																<div
																	class="icon"
																>
																	<img
																		src=`https://alosistemas.com/image/descarga.png`
																		alt="icon"
																	/>
																</div>
																<div
																	class="choose__type__text"
																>
																	<p class="">
																		Implementación
																		de
																		Sistemas
																		ERP
																	</p>
																</div>
															</div>
														</li>
														<li>
															<div
																class="choose__type mb-25 d-flex align-items-center"
															>
																<div
																	class="icon"
																>
																	<img
																		src=`https://alosistemas.com/image/descarga.png`
																		alt="icon"
																	/>
																</div>
																<div
																	class="choose__type__text"
																>
																	<p class="">
																		Desarrollo
																		de
																		Software
																		Personalizado
																	</p>
																</div>
															</div>
														</li>
														<li>
															<div
																class="choose__type mb-25 d-flex align-items-center"
															>
																<div
																	class="icon"
																>
																	<img
																		src=`https://alosistemas.com/image/descarga.png`
																		alt="icon"
																	/>
																</div>
																<div
																	class="choose__type__text"
																>
																	<p class="">
																		Ciberseguridad
																		y
																		Hacking
																		Ético
																	</p>
																</div>
															</div>
														</li>
														<li>
															<div
																class="choose__type mb-25 mt-50"
															>
																<h5
																	class="mb-20"
																>
																	Nuestra
																	Misi&oacute;n
																</h5>
																<p
																	class="description__one"
																>
																	Ofrecer
																	soluciones
																	tecnológicas
																	innovadoras,
																	seguras y de
																	alta calidad
																	que impulsen
																	el
																	crecimiento
																	de las
																	empresas,
																	optimicen
																	sus procesos
																	y
																	fortalezcan
																	su entorno
																	digital.
																</p>
															</div>
														</li>
														<li>
															<div
																class="choose__type mb-25"
															>
																<h5
																	class="mb-20"
																>
																	Nuestra
																	Visi&oacute;n
																</h5>
																<p
																	class="description__one"
																>
																	Ser
																	referentes
																	en
																	transformación
																	digital y
																	servicios de
																	tecnología
																	en
																	Latinoamérica,
																	destacando
																	por nuestro
																	compromiso
																	con la
																	calidad, la
																	innovación y
																	la seguridad
																	informática.
																</p>
															</div>
														</li>
													</ul>
													<div class="text-start">
														<div
															class="choose__btn position-relative"
														>
															<a
																href=`https://alosistemas.com/nosotros.html`
																class="ht_btn"
															>
																<span
																	>Descubrir
																	más</span
																>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<img
							src=`https://alosistemas.com/image/choose__06.png`
							alt=""
							class="shapes choose__06"
						/>
					</section>
					<!-- choose__section end -->

					<!-- project__section start -->
					<section
						class="project__section position-relative pb-100 pb-lg-40"
					>
						<div class="container aos-init" data-aos="fade-up">
							<div class="section__title mb-60">
								<div class="text-start text-lg-center">
									<h5 class="section__sub__title">
										NUESTROS PROYECTOS FINALIZADS
									</h5>
									<div class="row">
										<div class="col-xl-7 col-lg-8 m-auto">
											<h2 class="section__title__main">
												Nuestra Lista De Proyectos
												Recientemente Finalizados
											</h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="project-container">
							<div
								class="swiper project__slider__one pb-100 swiper-initialized swiper-horizontal swiper-backface-hidden"
							>
								<!-- testimonial-paginatoin -->
								<div
									class="swiper-wrapper"
									id="swiper-wrapper-1be393ad6d883673"
									aria-live="off"
									style="transition-duration: 0ms; transform: translate3d(-3060px, 0px, 0px);" >

									<div
										class="swiper-slide"
										style="width: 582px; margin-right: 30px;"
										role="group"
										aria-label="1 / 5"
										data-swiper-slide-index="1"
									>
										<div class="project__wrapper mb-30">
											<div
												class="project__thumb mb-20 position-relative"
											>
												<img
													class="w-100"
													src=`https://alosistemas.com/image/appBikesos.png`
													alt="project"
												/>
												<div
													class="project__icon__wrapper d-flex align-items-center justify-content-between"
												>
													<div
														class="project__content"
													>
														<h4
															class="project__title"
														>
															<a
																href=`https://alosistemas.com/proyectos.html`
																>App BikeSOS</a
															>
														</h4>
														<p
															class="project__designation opacity-8 mb-2"
														>
															App para servicios
															de bicicletas
														</p>
													</div>
													<div
														class="project__icon text-center"
													>
														<a
															href=`https://alosistemas.com/proyectos.html`
															class="icon"
														>
															<span>Detalles</span
															>
															<i
																class="fa-solid fa-arrow-right"
															></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div><div
										class="swiper-slide"
										style="width: 582px; margin-right: 30px;"
										role="group"
										aria-label="2 / 5"
										data-swiper-slide-index="2"
									>
										<div class="project__wrapper mb-30">
											<div
												class="project__thumb mb-20 position-relative"
											>
												<img
													class="w-100"
													src=`https://alosistemas.com/image/Odoo.jpg`
													alt="project"
												/>
												<div
													class="project__icon__wrapper d-flex align-items-center justify-content-between"
												>
													<div
														class="project__content"
													>
														<h4
															class="project__title"
														>
															<a
																href="http://147.79.110.161:8069/slides/capacitacion-de-odoo-1"
																>Capacitaci&oacute;n
																de Odoo</a
															>
														</h4>
														<p
															class="project__designation opacity-8 mb-2"
														>
															Enfocada en la
															configuración y uso
															de los módulos de
															Ventas, Finanzas,
															Contabilidad,
															Fabricación,
															Proyectos e
															Integración.
														</p>
													</div>
													<div
														class="project__icon text-center"
													>
														<a
															href="http://147.79.110.161:8069/slides/capacitacion-de-odoo-1"
															class="icon"
														>
															<span>Detalles</span
															>
															<i
																class="fa-solid fa-arrow-right"
															></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div><div
										class="swiper-slide"
										style="width: 582px; margin-right: 30px;"
										role="group"
										aria-label="3 / 5"
										data-swiper-slide-index="3"
									>
										<div class="project__wrapper mb-30">
											<div
												class="project__thumb mb-20 position-relative"
											>
												<img
													class="w-100"
													src=`https://alosistemas.com/image/landingArmeria.png`
													alt="project"
												/>
												<div
													class="project__icon__wrapper d-flex align-items-center justify-content-between"
												>
													<div
														class="project__content"
													>
														<h4
															class="project__title"
														>
															<a
																href=`https://alosistemas.com/proyectos.html`
																>Landing de Armeria</a
															>
														</h4>
														<p
															class="project__designation opacity-8 mb-2"
														>
															Talent search for AI
															product development
														</p>
													</div>
													<div
														class="project__icon text-center"
													>
														<a
															href=`https://alosistemas.com/proyectos.html`
															class="icon"
														>
															<span>Detalles</span
															>
															<i
																class="fa-solid fa-arrow-right"
															></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div><div
										class="swiper-slide swiper-slide-prev"
										style="width: 582px; margin-right: 30px;"
										role="group"
										aria-label="4 / 5"
										data-swiper-slide-index="4"
									>
										<div class="project__wrapper mb-30">
											<div
												class="project__thumb mb-20 position-relative"
											>
												<img
													class="w-100"
													src=`https://alosistemas.com/image/landingCivil.png`
													alt="project"
												/>
												<div
													class="project__icon__wrapper d-flex align-items-center justify-content-between"
												>
													<div
														class="project__content"
													>
														<h4
															class="project__title"
														>
															<a
																href=`https://alosistemas.com/proyectos.html`
																>Landing Ing. Civil</a
															>
														</h4>
														<p
															class="project__designation opacity-8 mb-2"
														>
															Talent search for AI
															product development
														</p>
													</div>
													<div
														class="project__icon text-center"
													>
														<a
															href=`https://alosistemas.com/proyectos.html`
															class="icon"
														>
															<span>Detalles</span
															>
															<i
																class="fa-solid fa-arrow-right"
															></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div><div
										class="swiper-slide swiper-slide-active"
										role="group"
										aria-label="5 / 5"
										style="width: 582px; margin-right: 30px;"
										data-swiper-slide-index="5"
									>
										<div class="project__wrapper mb-30">
											<div
												class="project__thumb mb-20 position-relative"
											>
												<img
													class="w-100"
													src=`https://alosistemas.com/image/landingMedico.png`
													alt="project"
												/>
												<div
													class="project__icon__wrapper d-flex align-items-center justify-content-between"
												>
													<div
														class="project__content"
													>
														<h4
															class="project__title"
														>
															<a
																href=`https://alosistemas.com/proyectos.html`
																>Landing Centro Medico</a
															>
														</h4>
														<p
															class="project__designation opacity-8 mb-2"
														>
															Talent search for AI
															product development
														</p>
													</div>
													<div
														class="project__icon text-center"
													>
														<a
															href=`https://alosistemas.com/proyectos.html`
															class="icon"
														>
															<span>Details</span>
															<i
																class="fa-solid fa-arrow-right"
															></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div
									class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
								>
									<span
										class="swiper-pagination-bullet"
										tabindex="0"
										role="button"
										aria-label="Go to slide 1"></span><span
										class="swiper-pagination-bullet"
										tabindex="0"
										role="button"
										aria-label="Go to slide 2"></span><span
										class="swiper-pagination-bullet"
										tabindex="0"
										role="button"
										aria-label="Go to slide 3"></span><span
										class="swiper-pagination-bullet"
										tabindex="0"
										role="button"
										aria-label="Go to slide 4"></span><span
										class="swiper-pagination-bullet"
										tabindex="0"
										role="button"
										aria-label="Go to slide 5"></span><span
										class="swiper-pagination-bullet swiper-pagination-bullet-active"
										aria-current="true"></span>
								</div>
								<span
									class="swiper-notification"
									aria-live="assertive"
									aria-atomic="true"></span>
							</div>
						</div>
						<section class="service__section position-relative">
							<div class="container">
								<div class="row d-flex pt-80">
									<div class="col-xl-6 pb-lg-60">
										<div class="service__img__wrapper">
											<div class="section__title">
												<div class="text-start">
													<h5
														class="section__sub__title"
													>
														PROCESO DE
														IMPLEMENTACI&Oacute;N TI
													</h5>
													<h2
														class="section__title__main mb-30"
													>
														Obtener Soporte
														Tecnol&oacute;gico y
														Soluciones de TI con
														ALOSISTEMAS es
														F&aacute;cil
													</h2>
													<p
														class="section__description mb-30"
													>
														ALOSISTEMAS fue creada
														para transformar por
														completo la forma en que
														las empresas abordan sus
														proyectos
														tecnol&oacute;gicos.
													</p>
												</div>
											</div>
											<div
												class="service___box d-flex mt-50"
											>
												<div
													class="box__img position-relative"
												>
													<img
														src=`https://alosistemas.com/image/project__04.png`
														alt=""
														class="shapes project__04"
													/>
												</div>
												<div class="box__text">
													<h4>
														Liderando el camino en
														soluciones TI
													</h4>
													<a
														href=`https://alosistemas.com/contacto.html`
														class="ht_btn"
													>
														<span
															>Nuestros Servicios</span
														>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-5 ms-auto">
										<div
											class="service__content__wrapper position-relative mt-40"
										>
											<ul>
												<li>
													<div
														class="service__type mb-60 d-flex"
													>
														<div
															class="icon__rapper"
														>
															<div
																class="icon position-relative"
															>
																<img
																	src=`https://alosistemas.com/image/project__01 (1).png`
																	alt="icon"
																	class=""
																/>
															</div>
														</div>
														<div
															class="service__type_text"
														>
															<h5 class="mb-20">
																<a
																	href=`https://alosistemas.com/services-details.html`
																	>Inicio del
																	Proyecto</a
																>
															</h5>
															<p>
																Te acompañamos
																desde el primer
																paso, analizando
																tus necesidades
																y diseñando una
																solución
																tecnológica
																alineada con tus
																objetivos
																empresariales.
															</p>
														</div>
													</div>
												</li>
												<li>
													<div
														class="service__type mb-60 d-flex"
													>
														<div
															class="icon__rapper"
														>
															<div
																class="icon icon__two position-relative"
															>
																<img
																	src=`https://alosistemas.com/image/project__01 (1).png`
																	alt="icon"
																	class=""
																/>
															</div>
														</div>
														<div
															class="service__type_text"
														>
															<h5 class="mb-20">
																<a
																	href=`https://alosistemas.com/services-details.html`
																	>Soporte y
																	Mantenimiento
																	de Datos</a
																>
															</h5>
															<p>
																Brindamos
																soporte técnico
																continuo,
																asegurando el
																buen
																funcionamiento
																de tus sistemas
																y la integridad
																de tu
																información.
															</p>
														</div>
													</div>
												</li>
												<li>
													<div
														class="service__type d-flex"
													>
														<div
															class="icon__rapper"
														>
															<div
																class="icon icon__three position-relative"
															>
																<img
																	src=`https://alosistemas.com/image/project__03.png`
																	alt="icon"
																	class=""
																/>
															</div>
														</div>
														<div
															class="service__type_text"
														>
															<h5 class="mb-20">
																<a
																	href=`https://alosistemas.com/services-details.html`
																	>Asesoría
																	Garantizada</a
																>
															</h5>
															<p>
																Nuestro equipo
																de expertos te
																ofrece
																consultoría
																especializada,
																asegurando que
																cada solución
																sea efectiva,
																segura y
																adaptada a tu
																realidad
																operativa.
															</p>
														</div>
													</div>
												</li>
											</ul>
											<img
												src=`https://alosistemas.com/image/project__bg__03.png`
												alt=""
												class="shapes project__bg__03"
											/>
										</div>
									</div>
								</div>
							</div>
							<img
								src=`https://alosistemas.com/image/project__bg__02.png`
								alt=""
								class="shapes project__bg__02"
							/>
						</section>
					</section>
					<!-- project__section end -->
					<!-- portfolio__section start -->
					<section
						class="blog__section position-relative pt-130 pt-lg-40 pb-lg-10"
					>
						<div class="container aos-init" data-aos="fade-up">
							<div class="row d-flex align-items-center pb-70">
								<div class="col-xl-6 mb-lg-30">
									<div class="section__title">
										<div class="text-start">
											<h5 class="section__sub__title">
												NOTICIAS &amp; ARTICULOS
											</h5>
											<div class="row">
												<div class="col-xl-7 col-lg-8">
													<h2
														class="section__title__main"
													>
														Consulte el
														&uacute;ltimo
														cat&aacute;logo de
														ALOKITS
													</h2>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="text-xl-end text-lg-start">
										<p
											class="section__description mb-30 opacity-8"
										>
											Alokits es un marketplace
											especializado donde AloSistemas
											ofrece soluciones listas para usar.
										</p>
										<a
											href="https://alokits-landing.vercel.app/"
											class="ht_btn"
										>
											<span>ALOKITS</span>
										</a>
									</div>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-xl-4 col-lg-6">
									<div class="blog__style__one mb-30">
										<div
											class="blog__content position-relative"
										>
											<div
												class="blog__date d-flex align-items-center mb-30"
											>
												<span>Tecnolog&iacute;a</span>
												<p>
													<i
														class="fa-regular fa-clock"
													></i>21 Jan 2023
												</p>
											</div>
											<h4 class="blog__title mb-30">
												<a href="https://alokits-landing.vercel.app/"
													>Landing Page de Centro
													M&eacute;dico</a
												>
											</h4>
											<div
												class="blog__link d-flex align-items-center mb-30"
											>
												<div class="icon">
													<i
														class="fa-solid fa-angles-right"
													></i>
												</div>
												<a
													href="https://alokits-landing.vercel.app/"
													class="">Más información</a
												>
											</div>
											<div class="devider__line"></div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-6">
									<div class="blog__style__one mb-30">
										<div
											class="blog__content position-relative"
										>
											<div
												class="blog__date d-flex align-items-center mb-30"
											>
												<span>Tecnolog&iacute;a</span>
												<p>
													<i
														class="fa-regular fa-clock"
													></i>21 Jan 2023
												</p>
											</div>
											<h4 class="blog__title mb-30">
												<a href="https://alokits-landing.vercel.app/"
													>Odoo 18</a
												>
											</h4>
											<div
												class="blog__link d-flex align-items-center mb-30"
											>
												<div class="icon">
													<i
														class="fa-solid fa-angles-right"
													></i>
												</div>
												<a
													href="https://alokits-landing.vercel.app/"
													class="">Más información</a
												>
											</div>
											<div class="devider__line"></div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-6">
									<div class="blog__style__one mb-30">
										<div
											class="blog__content position-relative"
										>
											<div
												class="blog__date d-flex align-items-center mb-30"
											>
												<span>Tecnolog&iacute;a</span>
												<p>
													<i
														class="fa-regular fa-clock"
													></i>21 Jan 2023
												</p>
											</div>
											<h4 class="blog__title mb-30">
												<a href="https://alokits-landing.vercel.app/"
													>Dashboard de Ventas</a
												>
											</h4>
											<div
												class="blog__link d-flex align-items-center mb-30"
											>
												<div class="icon">
													<i
														class="fa-solid fa-angles-right"
													></i>
												</div>
												<a
													href="https://alokits-landing.vercel.app/"
													class="">Más información</a
												>
											</div>
											<div class="devider__line"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<img
							src=`https://alosistemas.com/image/blog__bg__01.png`
							alt=""
							class="shapes blog__bg__01"
						/>
					</section>
					<!-- portfolio__section end-->
					<!-- subscribe__section start-->
					<section class="feature__section position-relative">
						<div class="container aos-init" data-aos="fade-up">
							<div class="feature__rapper">
								<div
									class="text-start text-lg-center pt-100 pt-lg-30 pb-lg-30"
								>
									<div class="row">
										<div class="col-xl-8 col-lg-9 m-auto">
											<h2 class="section__title__main">
												Ofrecemos Soluciones
												Inform&aacute;ticas
											</h2>
											<p
												class="section__description mb-30 opacity-8"
											>
												En ALOSISTEMAS brindamos
												soluciones tecnológicas
												personalizadas que impulsan la
												transformación digital de tu
												empresa. Desde la implementación
												de ERP hasta la Ciberseguridad
												m&aacute;s avanzada, estamos
												comprometidos con tu éxito.
											</p>
											<a
												href=`https://alosistemas.com/contacto.html`
												class="ht_btn"
											>
												<span>Soluciones IT</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<img
							src=`https://alosistemas.com/image/feature__01.png`
							alt=""
							class="shapes feature__01"
						/>
					</section>
					<!-- subscribe__section end -->

					<!-- subscribe__section start-->
				</section>
				<!--footer-area start-->
				<footer class="footer-area">
					<div class="footer__bg__one">
						<div
							class="footer__wrapper__one position-relative pt-180 pt-lg-120"
						>
							<img src="" alt="" class="shapes footer__01" />
							<img src="" alt="" class="shapes footer__02" />
							<img
								src=""
								alt=""
								class="shapes footer__one__bg__01"
							/>
							<div class="container aos-init" data-aos="fade-up">
								<div class="row pb-35">
									<div
										class="col-xxl-3 col-xl-3 col-lg-3 col-md-6"
									>
										<div
											class="footer__widget footer__widget__one mb-30"
										>
											<a
												href="index.html"
												class="footer-logo d-inline-block mb-30"
											>
												<img
													src=`https://alosistemas.com/image/alosistemaslogo2.png`
													alt="footer-logo"
												/>
											</a>
											<p class="mb-30">
												Soluciones Tecnológicas
												Profesionales. Transformamos tu
												visión digital en resultados
												concretos.
											</p>
											<ul>
												<li>
													<a href=`https://alosistemas.com/contact.html`>
														<img
															src=`https://alosistemas.com/image/call__icon.png`
															alt=""
															class=""
														/>
														<span
															>+51 970 070 369</span
														>
													</a>
												</li>
												<li>
													<a href=`https://alosistemas.com/contact.html`>
														<img
															src=`https://alosistemas.com/image/email__icon.png`
															alt=""
															class=""
														/>
														<span
															>info@alosistemas.com</span
														>
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div
										class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 ms-auto"
									>
										<div class="footer__widget mt-20">
											<h4 class="widget__title mb-30">
												Enlaces r&aacute;pidos
											</h4>
											<ul>
												<li>
													<a href=`https://alosistemas.com/contacto.html`
														>Cont&aacute;ctanos
													</a>
												</li>
												<li>
													<a href=`https://alosistemas.com/nosotros.html`
														>Nosotros</a
													>
												</li>
											</ul>
										</div>
									</div>
									<div
										class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 ms-auto"
									>
										<div class="footer__widget mt-20">
											<h4 class="widget__title mb-30">
												Servicios
											</h4>
											<ul>
												<li>
													<a href=`https://alosistemas.com/servicios.html`
														>Implementaci&oacute;n
														de ERP</a
													>
												</li>
												<li>
													<a href=`https://alosistemas.com/software.html`
														>Desarrollo de Software</a
													>
												</li>
												<li>
													<a
														href=`https://alosistemas.com/cibersegurida.html`
														>Hacking &Eacute;tico y
														Ciberseguridad</a
													>
												</li>
											</ul>
										</div>
									</div>
									<div
										class="col-xxl-3 col-xl-3 col-lg-3 col-md-6"
									>
										<div
											class="footer__widget footer__contact mb-30 mt-20"
										>
											<h4 class="widget__title mb-30">
												Información general
											</h4>
											<div
												style="display: flex; align-items: center; gap: 8px;"
											>
												<img
													src=`https://alosistemas.com/image/location__01.png`
													alt="Icono de ubicación"
												/>
												<p>Lima, Perú</p>
											</div>
											<div
												class="devider__line mb-10 mt-30"
											>
											</div>
											<h5 class="mb-20 mt-30">
												Encuéntrenos en las redes
												sociales
											</h5>
											<div class="social_media mt-20">
										<!--<a href="#"><i class="fab fa-linkedin-in"></i></a>-->
										<a href="#https://www.tiktok.com/@alo.sistemas?_t=ZM-8wK97lrCGtZ&_r=1"><i class="fab fa-tiktok"></i></a>
										<!--<a href="#"><i class="fab fa-instagram"></i></a>-->
										<a href="https://alosistemas.com/"><i class="fab fa-dribbble"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="devider__line"></div>
								<div class="copyright__area pt-35">
									<div class="row">
										<div class="col-xl-5">
											<div class="text-start">
												<div
													class="copyright__text pb-30"
												>
													<p>
														©2025 AloSistemas Todos
														los derechos reservados
													</p>
												</div>
											</div>
										</div>
										<!-- <div class="col-xl-6 ms-auto">
											<div class="">
												<ul
													class="text-start text-xl-end"
												>
													<li>
														<a href="#">Sitemap</a>
													</li>
													<li>
														<a href="#"
															>Terms And
															Conditions</a
														>
													</li>
													<li>
														<a href="#"
															>Pol&iacute;ticas de Privacidad</a
														>
													</li>
												</ul>
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<!--footer-area end-->
			</main>
			<!-- main-page-wrapper end -->

			<!-- JS here -->

			<script src=`https://alosistemas.com/js/jquery-2.2.4.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/popper.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/bootstrap.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/jquery.meanmenu.js` is:inline></script>
			<script src=`https://alosistemas.com/js/swiper-bundle.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/slick.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/jquery.easypiechart.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/jquery.counterup.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/jquery.magnific-popup.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/metisMenu.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/wow.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/jquery.waypoints.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/aos.js` is:inline></script>
			<script src=`https://alosistemas.com/js/jquery.nice-select.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/jquery-ui.js` is:inline></script>
			<script src=`https://alosistemas.com/js/jquery.scrollUp.min.js` is:inline></script>
			<script src=`https://alosistemas.com/js/plugins.js` is:inline></script>

			<!--Custom JS here -->
			<script src=`https://alosistemas.com/js/main.js` is:inline></script>

			<!-- Modal para servicios de IA -->
			<div id="serviceModal" style="display: none; position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.8);">
				<div style="background-color: #fefefe; margin: 5% auto; padding: 40px; border: 1px solid #888; width: 90%; max-width: 700px; border-radius: 15px; position: relative;">
					<span id="closeModal" style="color: #aaa; float: right; font-size: 35px; font-weight: bold; cursor: pointer; line-height: 20px;">&times;</span>
					<div id="modalContent"></div>
				</div>
			</div>

			<script is:inline>
				document.addEventListener('DOMContentLoaded', function() {
					const modal = document.getElementById('serviceModal');
					const closeBtn = document.getElementById('closeModal');
					const modalContent = document.getElementById('modalContent');

					const serviceInfo = {
						'talleres-ia': {
							title: 'Talleres de IA - ALO IA',
							content: `
								<h3 style="color: #3b82f6; margin-bottom: 20px;">¿Qué es ALO IA?</h3>
								<p style="margin-bottom: 15px; line-height: 1.8;">ALO IA es nuestra división especializada en Inteligencia Artificial, diseñada para transformar la manera en que tu empresa opera mediante soluciones innovadoras de IA.</p>

								<h4 style="color: #333; margin-top: 25px; margin-bottom: 15px;">Talleres de IA</h4>
								<p style="margin-bottom: 15px; line-height: 1.8;">Nuestros talleres prácticos te enseñan a implementar soluciones de inteligencia artificial en tu empresa:</p>
								<ul style="margin-left: 20px; margin-bottom: 20px; line-height: 2;">
									<li>Introducción práctica a ChatGPT y modelos de lenguaje</li>
									<li>Automatización de procesos con IA</li>
									<li>Análisis de datos con Machine Learning</li>
									<li>Implementación de chatbots inteligentes</li>
									<li>IA Generativa aplicada a tu negocio</li>
								</ul>
								<p style="margin-top: 20px; font-weight: bold; color: #3b82f6;">Duración: Talleres de 4 a 8 horas | Modalidad: Presencial u Online</p>
							`
						},
						'capacitaciones': {
							title: 'Capacitaciones Empresariales - ALO IA',
							content: `
								<h3 style="color: #3b82f6; margin-bottom: 20px;">¿Qué es ALO IA?</h3>
								<p style="margin-bottom: 15px; line-height: 1.8;">ALO IA es nuestra división especializada en Inteligencia Artificial, creada para impulsar la transformación digital de tu empresa con tecnología de vanguardia.</p>

								<h4 style="color: #333; margin-top: 25px; margin-bottom: 15px;">Capacitaciones Empresariales</h4>
								<p style="margin-bottom: 15px; line-height: 1.8;">Formamos a tu equipo en las últimas tecnologías:</p>
								<ul style="margin-left: 20px; margin-bottom: 20px; line-height: 2;">
									<li>Programas personalizados según necesidades empresariales</li>
									<li>Capacitación en herramientas de IA para productividad</li>
									<li>Metodologías ágiles con IA</li>
									<li>Ética y responsabilidad en el uso de IA</li>
									<li>Estrategias de adopción de IA en la empresa</li>
								</ul>
								<p style="margin-top: 20px; font-weight: bold; color: #3b82f6;">Programas a medida | Certificación incluida</p>
							`
						},
						'consultoria-ia': {
							title: 'Consultoría en IA - ALO IA',
							content: `
								<h3 style="color: #3b82f6; margin-bottom: 20px;">¿Qué es ALO IA?</h3>
								<p style="margin-bottom: 15px; line-height: 1.8;">ALO IA es la división de ALOSISTEMAS enfocada en desarrollar e implementar soluciones de Inteligencia Artificial que generen valor real en tu organización.</p>

								<h4 style="color: #333; margin-top: 25px; margin-bottom: 15px;">Consultoría en IA</h4>
								<p style="margin-bottom: 15px; line-height: 1.8;">Diseñamos estrategias personalizadas de IA para optimizar tus procesos:</p>
								<ul style="margin-left: 20px; margin-bottom: 20px; line-height: 2;">
									<li>Análisis de oportunidades de IA en tu empresa</li>
									<li>Diseño de roadmap de implementación de IA</li>
									<li>Desarrollo de soluciones personalizadas</li>
									<li>Integración de IA con sistemas existentes</li>
									<li>Optimización de procesos mediante IA</li>
									<li>Acompañamiento en la transformación digital</li>
								</ul>
								<p style="margin-top: 20px; font-weight: bold; color: #3b82f6;">Consultoría estratégica | ROI garantizado</p>
							`
						}
					};

					// Agregar event listeners a todas las cajas de servicio
					const serviceBoxes = document.querySelectorAll('.service-box-clickable');
					serviceBoxes.forEach(box => {
						box.style.cursor = 'pointer';
						box.addEventListener('click', function(e) {
							e.preventDefault();
							const serviceType = this.getAttribute('data-service');
							const info = serviceInfo[serviceType];

							if (info) {
								modalContent.innerHTML = '<h2 style="color: #3b82f6; margin-bottom: 25px;">' + info.title + '</h2>' + info.content;
								modal.style.display = 'block';
								document.body.style.overflow = 'hidden';
							}
						});
					});

					// Cerrar modal
					closeBtn.addEventListener('click', function() {
						modal.style.display = 'none';
						document.body.style.overflow = 'auto';
					});

					// Cerrar al hacer clic fuera del modal
					window.addEventListener('click', function(event) {
						if (event.target == modal) {
							modal.style.display = 'none';
							document.body.style.overflow = 'auto';
						}
					});

					// Cerrar con tecla ESC
					document.addEventListener('keydown', function(event) {
						if (event.key === 'Escape' && modal.style.display === 'block') {
							modal.style.display = 'none';
							document.body.style.overflow = 'auto';
						}
					});
				});
			</script>
		</div>
	</body>
</html>
